<!DOCTYPE html>
<html>

<head>
  <title>
    <%= title %>
  </title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@tabler/icons-webfont@latest/dist/tabler-icons.min.css" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.indigo.min.css">
  <link rel="stylesheet" href="/stylesheets/style.css" />
  <script src="https://cdn.jsdelivr.net/npm/markdown-it@14.1.0/dist/markdown-it.min.js"></script>
  <script src="/javascripts/script.js" defer></script>
</head>

<body>
  <div class="container py-3">
    <h1 class="text-happy"><%= title %></h1>

    <div class="grid">
      <% ["Software Developer", "Data Scientist", "Project Manager"].forEach(job => { %>
      <input type="button" class="predefined-job-title" value="<%= job %>" data-job-title="<%= job %>" />
      <% }) %>
    </div>
    <div class="mb-3">
      <form role="search" id="job-search-form">
        <input type="search" name="jobTitle" placeholder="Or search other job" aria-label="Search" required />
        <input type="submit" value="Search" />
      </form>
    </div>

    <progress id="job-overview-progress-bar" hidden></progress>
    <div class="mb-3" id="job-overview" hidden>
      <div class="content"></div>
      <details id="personalize-form-accordion">
        <summary role="button" id="toggle-personalize-form-btn" class="contrast">Personalize these results</summary>
        <form class="" id="personalize-form">
          <div class="mb-3">
            <label for="educationLevel" class="form-label">What is your current level of education?</label>
            <select class="form-select" id="educationLevel" name="educationLevel">
              <option value="" selected>Select your education level</option>
              <% ["High School Diploma","Associate's Degree","Bachelor's Degree", "Master's Degree", "Doctorate"].forEach(item=> { %>
              <option value="<%= item %>">
                <%= item %>
              </option>
              <% }) %>
            </select>
          </div>

          <div class="mb-3">
            <label class="form-label">Are you switching careers?</label>
            <div class="form-check">
              <label class="form-check-label"><input class="form-check-input" type="checkbox" name="careerChange" value="yes" /> Yes</label>
            </div>
          </div>

          <div class="mb-3">
            <label for="currentJob" class="form-label">What is your current job?</label>
            <input type="text" class="form-control" name="currentJob" id="currentJob" placeholder="Enter your current job role" />
          </div>

          <div class="mb-3">
            <label for="learningStyle" class="form-label">How do you prefer to learn new skills?</label>
            <select class="form-select" id="learningStyle" name="learningStyle">
              <option value="" selected>Select your learning style</option>
              <% ["Online Courses","In-person Classes","Bootcamps","Self-taught"].forEach(function(item,index){ %>
              <option value="<%= item %>">
                <%= item %>
              </option>
              <% }) %>
            </select>
          </div>

          <div class="mb-3">
            <label class="form-label">How much time can you dedicate to learning new skills?</label>
            <% ["Full-time", "Part-time" , "Weekends Only" ].forEach(item=> { %>
            <div class="form-check">
              <label class="form-check-label"><input class="form-check-input" type="radio" name="timeCommitment" value="<%= item %>" />
                <%= item %>
              </label>
            </div>
            <% }) %>
          </div>

          <div class="mb-3">
            <label class="form-label">How many years from now would you like to start working in this
              field?</label>
            <input type="number" class="form-control" id="autoSizingInputGroup" min="0" name="timeline" placeholder="Years" />
          </div>

          <div>
            <button type="submit" class="btn btn-primary">
              View personalized career path
            </button>
          </div>
          <input type="hidden" name="jobOverviewMd" id="job-overview-md" />
        </form>

      </details>
    </div>

    <progress id="personalized-steps-progress-bar" hidden></progress>
    <div class="mb-3" id="personalized-steps" hidden>
      <div class="content"></div>
    </div>

    <div id="actions-wrapper" class="mb-3" hidden>
      <button id="open-email-send-dialog-btn" class="secondary me-2">
        <i class="ti ti-mail me-2"></i> Send to self
      </button>
      <button id="print-btn">
        <i class="ti ti-printer me-2"></i> Print
      </button>
    </div>

    <dialog id="email-send-dialog">
      <article>
        <h2>Send Email</h2>
        <input type="email" name="email" id="email-send-input" placeholder="Email">
        <footer>
          <span id="email-send-msg" class="me-2"></span>
          <button id="cancel" class="secondary">
            Cancel
          </button>
          <button id="email-send-btn">Send</button>
        </footer>
      </article>
    </dialog>

    <footer id="made-by">Made by <a href="https://github.com/yemi-f" target="_blank">Yemi</a> in Ottawa 🏛️</footer>
  </div>
</body>

</html>
